body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.donate-banar {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    padding: 80px;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

h1 {
    font-size: 70px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 20px;
}

.button-click {
    background-color: rgba(255, 15, 15, 0.986);
    padding: 10px 20px;
    border-radius: 7px;
    text-decoration: none;
    color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.726);
}

.pament {
    text-align: center;
}

.taka-am {
    display: flex;
    align-items: center;
    padding: 10px 275px;
}

.card {
    color: rgb(230, 38, 38);
    background-color: #f1f1f1;
    padding: 40px;
    text-align: center;
    border: 2px solid #f1f1f2;
    margin: 10px;
    position: center;
    align-items: center;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 4px 4px 10px grey;
    border: 1px solid rgba(231, 75, 75, 0.192);
}

.other-amount {
    border-top: none;
    border-right: none;
    border-bottom: 3px solid blue;
    border-left: none;
    padding: 5px 400px;
}

.flexible-container {
    display: flex;


}

.model {
    border: 2px solid rgb(179, 184, 175);
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px grey;
}

.foo {
    background-color: #ffc0c06e;
    ;
}

.med {
    background-color: #b9ffd875
}

.clo {
    background-color: #c0f6ff93;
}

.icon {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
}

.working {
    border: 1px solid rgb(125, 129, 123);
    padding: 4px;
    height: 300px;
    flex: 1;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 7px 7px 10px grey;
    border-radius: 5px;


}

#trn1 {
    background-image: url(images/tran1.jpg);
}

#trn2 {
    background-image: url(images/tran3.jpg);
}

#trn3 {
    background-image: url(images/tran2.jpg);
    color: #f1f1f1;
}

#trn4 {
    background-image: url(images/tran4.jpg);
    color: #f1f1f1;
}

.enrol {
    background-color: #a3f0b47e;
    padding: 60px 205px;
    margin: 50px 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

footer {
    background-color: #000000;
    color: #ffc0c0;
    text-align: center;
    padding: 40px 0px 5px 0px;
}